@import "tailwindcss";

@theme {
  --font-display: "Instrument Serif", serif;
  --font-body: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
